body {
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
}

.content,
.contentHistory,
.contentFavorites {
    height: 400px;
    width: 100%;
    overflow-y: auto;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ddd;
}

.words-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin: 0;
    padding: 0;
}

.word-container {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s;
}

.word-container:hover {
    transform: scale(1.05);
}

.word {
    font-size: 16px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    color: rgb(100, 100, 100);
}

p {
    margin: 0;
}

.word-name {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    border: 1px solid gray;
}

.word-details {
    margin-top: 20px;
}

.phonetic {
    font-style: italic;
    margin-top: 10px;
}

.audio-player {
    margin-top: 20px;
}

.tabs {
    margin-left: 10px;
}

.tabs button {
    margin-right: 10px;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
    border: none;
}

.tabs button.active {
    background-color: #90CCA8;
    color: white;
}

.list-section {
    width: 100%;
}

.favorite {
    margin-top: 10px;
    cursor: pointer;
}

.checked {
    color: orange;
}

input {
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}